body {
    font-family: Arial, sans-serif;
    background-color: #fff5e1;
    color: #333;
    margin: 0;
    padding: 0;
}

.title {
    text-align: center;
    margin: 20px;
}

.menu-container {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    padding: 10px;
    background-color: #fbe9e7;
    margin: 20px auto;
    width: 90%;
    scrollbar-width: thin; /* Estilo para Firefox */
}

.menu-container::-webkit-scrollbar {
    height: 8px; /* Estilo para Chrome y Safari */
}

.menu-container::-webkit-scrollbar-thumb {
    background-color: #ff6f61;
    border-radius: 10px;
}

.menu-item {
    display: inline-block;
    background-color: #fff;
    padding: 15px;
    margin-right: 20px; /* Aumentar el espacio entre elementos */
    border-radius: 10px;
    text-align: center;
    min-width: 250px; /* Aumentar el tamaño mínimo de los elementos */
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: transform 0.3s;
    cursor: pointer;
}

.menu-item:hover {
    transform: scale(1.1); /* Aumentar la escala al pasar el cursor */
}

.menu-image {
    width: 100%;
    height: auto;
    max-height: 250px; /* Ajustar la altura máxima de las imágenes */
    border-radius: 5px;
}

.menu-info {
    margin-top: 10px; /* Añadir espacio entre la imagen y el texto */
    font-size: 16px; /* Ajustar el tamaño de la fuente para que sea legible */
    color: #333; /* Color del texto */
}

.sub-menu {
    display: none; /* Ocultar los submenús por defecto */
    position: absolute; /* Cambiado de fixed a absolute para ajustar el posicionamiento */
    background-color: rgba(0, 0, 0, 0.9);
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    z-index: 1000;
}

.sub-menu button {
    background-color: #ff6f61;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 20px;
}

.contact-order-container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.contact-form {
    background-color: #fbe9e7;
    padding: 15px;
    border-radius: 10px;
    width: 45%; /* Ajustar el tamaño del formulario */
    text-align: left;
}

.contact-form input, .contact-form textarea {
    width: calc(100% - 16px); /* Ajuste para padding y márgenes */
    padding: 8px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form button {
    background-color: #ff6f61;
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.order-form-container {
    width: 45%; /* Ajustar el tamaño del contenedor del formulario de órdenes */
}

.order-item {
    margin-bottom: 10px;
}

.order-item input {
    width: 60px; /* Ajustar el tamaño del input */
}

.sub-menu #order-menu {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.9);
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.order-item input {
    width: 60px; /* Ajustar el tamaño del input */
}

.order-item h4 {
    margin: 0;
}

#order-total {
    margin-top: 10px;
}

.slogan {
    text-align: center;
    margin: 30px;
    font-size: 1.2em;
    color: #ff6f61;
}

.instagram-icon {
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.instagram-image {
    width: 50px; /* Tamaño más pequeño */
    height: auto;
}

